* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
button {
    cursor: pointer;
}
.container {
    max-width: 100%;
    margin: 0 auto;
}
.flex-container {
    display: flex;
}
