@charset "UTF-8";
* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Poppins', sans-serif; }

.container {
  max-width: 1600px;
  margin: auto; }

/* this part was added just to remember there are blocks above my part */
.our-collection {
  width: 100%;
  height: 200px;
  background-color: yellow; }

/* now I remember :) My part starts below */
.our-projects {
  width: 100%;
  background-color: aqua; }
  .our-projects .our-projects-title {
    width: 100%;
    padding: 70px;
    background-color: #fff;
    text-align: center; }
    .our-projects .our-projects-title h2 {
      text-transform: uppercase;
      font-size: 40px;
      letter-spacing: 4px;
      color: #181817;
      line-height: 19px;
      margin-bottom: 16px; }
    .our-projects .our-projects-title p > svg {
      height: 1em; }
  .our-projects .our-projects-samples {
    width: 100%;
    height: 1000px;
    background-color: coral;
    display: flex;
    flex-flow: row nowrap; }
    .our-projects .our-projects-samples .project .project-dark-layer {
      width: 25%;
      height: 1000px;
      position: absolute;
      background-color: #404040;
      opacity: 0.4; }
    .our-projects .our-projects-samples .project {
      text-transform: uppercase;
      color: #fff; }
      .our-projects .our-projects-samples .project h3 {
        font-size: 30px;
        letter-spacing: 3px; }
      .our-projects .our-projects-samples .project p {
        display: block;
        padding: 44px;
        margin: 0px 500px 0px 0px;
        transform: rotate(-90deg);
        font-size: 20px;
        letter-spacing: 7.96px;
        font-weight: 600; }
    .our-projects .our-projects-samples #project-1 {
      width: 25%;
      background-image: url("../img/modern-living-room-1.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
    .our-projects .our-projects-samples #project-2 {
      width: 25%;
      background-image: url("../img/modern-living-room-2.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
    .our-projects .our-projects-samples #project-3 {
      width: 25%;
      background-image: url("../img/modern-living-room-3.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
    .our-projects .our-projects-samples #project-4 {
      width: 25%;
      background-image: url("../img/modern-living-room-4.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
    .our-projects .our-projects-samples .project-test {
      visibility: hidden; }

.from-our-blog {
  width: 100%;
  height: 860px;
  background-color: #f9fafc; }
  .from-our-blog .from-our-blog-title {
    padding: 70px;
    width: 100%;
    text-align: center; }
    .from-our-blog .from-our-blog-title h2 {
      text-transform: uppercase;
      font-size: 40px;
      letter-spacing: 4px;
      color: #181817;
      line-height: 19px;
      margin-bottom: 16px; }
    .from-our-blog .from-our-blog-title p > svg {
      height: 1em; }
  .from-our-blog .from-our-blog-posts {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 115px; }
    .from-our-blog .from-our-blog-posts .blog-post {
      width: 372px;
      height: 515px;
      background-color: #fff; }
      .from-our-blog .from-our-blog-posts .blog-post img {
        width: 100%;
        height: 270px; }
      .from-our-blog .from-our-blog-posts .blog-post .blog-post-text {
        padding: 25px 32px 25px 25px; }
        .from-our-blog .from-our-blog-posts .blog-post .blog-post-text h3 {
          padding-left: 2px;
          font-size: 20px;
          text-transform: uppercase;
          color: #000;
          margin: 0; }
        .from-our-blog .from-our-blog-posts .blog-post .blog-post-text p {
          color: #31302d;
          font-size: 14px;
          opacity: 0.7; }
        .from-our-blog .from-our-blog-posts .blog-post .blog-post-text a {
          display: flex;
          align-items: center;
          text-decoration: none;
          width: 160px;
          height: 50px;
          padding: 20px;
          background-color: #ffce76;
          color: #000;
          font-size: 14px;
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: 1.4px; }
          .from-our-blog .from-our-blog-posts .blog-post .blog-post-text a svg {
            width: 1em;
            height: 1em;
            margin-left: 13px; }

footer {
  width: 100%;
  height: 440px;
  background-color: #181817; }
  footer .contacts {
    display: flex;
    justify-content: space-evenly;
    color: #ffce76;
    padding: 63px 0px; }
    footer .contacts div {
      width: 372px; }
      footer .contacts div svg {
        position: absolute;
        height: 108px;
        width: 4px; }
      footer .contacts div h3 {
        margin: 12px 21px;
        color: #ffce76;
        font-size: 25px;
        line-height: 25px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1.65px; }
      footer .contacts div p {
        margin: 12px 21px;
        color: #ffffff;
        font-size: 14px;
        line-height: 24px; }
  footer .footer-info {
    display: flex;
    justify-content: space-evenly; }
    footer .footer-info .footer-part {
      width: 372px;
      color: #fff; }
      footer .footer-info .footer-part h3 {
        font-size: 30px;
        font-weight: 600;
        margin: 0;
        line-height: 24px; }
      footer .footer-info .footer-part p {
        font-size: 14px;
        opacity: 0.5; }
    footer .footer-info .social-media {
      width: 271px;
      display: flex;
      justify-content: space-between;
      padding: 35px 0px; }
      footer .footer-info .social-media a {
        text-align: center;
        width: 42px;
        height: 42px;
        padding: 1px;
        border: 1px solid #fff;
        border-radius: 50%; }
        footer .footer-info .social-media a img {
          height: 30px;
          width: 30px; }

/* разная толщина линий подзаголовков FROM
OUR BLOG и OUR PROJECTS; иконки соцсетей;
можно ли сделать инпут без формы */

/*# sourceMappingURL=main-page.css.map */
